<html>
    <head>
        <style>
            .custom-invoice {
                background: #FFF;
              }
              .custom-invoice ::selection {
                background: #f31544;
                color: #FFF;
              }
              .custom-invoice ::moz-selection {
                background: #f31544;
                color: #FFF;
              }
              .custom-invoice h1 {
                font-size: 32pt;
                line-height: 32pt;
                color: #474a4f;
              }
              .custom-invoice h2 {
                font-size: 22pt;
                line-height: 22pt;
              }
              .custom-invoice h3 {
                font-size: 18pt;
                line-height: 18pt;
                font-weight: 300;
              }
              .custom-invoice p {
                font-size: 14pt;
                line-height: 14pt;
                color: #6C717A;
                padding: 8pt;
              }
              .custom-invoice .top, .custom-invoice .mid, .custom-invoice .bot {
                border-bottom: 1px solid #EEE;
              }
              .custom-invoice .top {
                min-height: 100pt;
              }

              .custom-invoice .top .centre {
                width: 200px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
              }

              .custom-invoice .mid {
                min-height: 80pt;
              }
              .custom-invoice .bot {
                min-height: 50pt;
              }
              .custom-invoice .top .logo {
                height: 60px;
                width: 60px;
                background-size: 60px 60px;
              }
              .custom-invoice .clientlogo {
                float: left;
                height: 60pt;
                width: 60pt;
                background-size: 60pt 60pt;
                border-radius: 50pt;
              }
              .custom-invoice .info {
                display: block;
                margin-left: 0;
              }
              .custom-invoice .title {
                float: right;
              }

              .custom-invoice table {
                width: 100%;
                border-collapse: collapse;
              }

              .tabletitle {
                font-size: 14pt;
                line-height: 14pt;
                font-weight: bold;
                color: #474a4f;
                padding: 8pt;
                text-align: start;

              }

              .custom-invoice .service {
                border-bottom: 1px solid #EEE;
              }
              /* .custom-invoice .item {
                width: 24mm;
              } */
              .custom-invoice .itemtext {
                font-size: 12pt;
                line-height: 12pt;
              }
              .custom-invoice .legalcopy {
                margin-top: 5mm;
              }
        </style>
    </head>
    <body>
        <div class="custom-invoice">
    
            <div class="top">
              <div class="centre">
                <div class="logo"></div>
                <div class="info"> 
                  <h2>Recibo</h2>
                </div>
              </div>
            </div><!--End InvoiceTop-->
            
            <div class="mid">
              <div class="info">
                <h3>Información de contacto</h3>
                <p> 
                    Dirección : {{ cliente.direccion }}<br>
                    Email   : {{ cliente.email }}<br>
                    Teléfono   : {{ cliente.telefono }}<br>
                </p>
              </div>
            </div><!--End Invoice Mid-->
            
            <div class="bot">
        
              <div>
                <table>
                  <thead>
                      <tr class="tabletitle">
                          <th class="item">Servicio Contratado</th>
                          <th class="Rate">Costo</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr class="service">
                        <td class="tableitem"><p class="itemtext">{{ servicio.nombre }}</p></td>
                        <td class="tableitem "><p class="itemtext ">${{ servicio.costo }}</p></td>
                    </tr>
                  </tbody>
                </table>
              </div><!--End Table-->

              <div class="legalcopy">
                  ¡Muchas gracias! Tu pago por ${{ servicio.costo }} ha sido recibido con éxito.
              </div>

          </div><!--End InvoiceBot-->
          </div><!--End Invoice-->
    </body>
</html>