{% load static %}
<div class="mdl-layout__drawer carbon-drawer">
    <!-- <span class="mdl-layout-title">My Store</span> -->
    <div class="carbon-drawer__header mdl-color--primary">
        <img src="{% static 'control_usuarios/img/imageplaceholder-1x1-big.png' %}" class="carbon-drawer__header__avatar">
        <div class="carbon-drawer__header__title">{{ user.username }}</div>
        <div class="carbon-drawer__header__supporting-text">{{ user.email}}</div>
    </div>

    
    <nav class="mdl-navigation" data-drawer-section-title="Control">
        <a class="mdl-navigation__link {% if active_menu == 'facturas' %} mdl-navigation__link--selected {% endif %}" href="{% url 'index'  %}">
            <i class="material-icons">insert_drive_file</i>
            Facturas
        </a>
        <a class="mdl-navigation__link {% if active_menu == 'clientes' %} mdl-navigation__link--selected {% endif %}" href="{% url 'clients'  %}">
            <i class="material-icons">people</i>
            Clientes
        </a>
        <a class="mdl-navigation__link {% if active_menu == 'servicios' %} mdl-navigation__link--selected {% endif %}" href="{% url 'services' %}">
            <i class="material-icons">cell_wifi</i>
            Servicios
        </a>
        <a class="mdl-navigation__link {% if active_menu == 'contratos' %} mdl-navigation__link--selected {% endif %}" href="{% url 'contract_add' %}">
            <i class="material-icons">insert_drive_file</i>
            Contratación
        </a>
    </nav>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'logout' %}" >
        <i class="material-icons">exit_to_app</i>
            Cerrar Sesión
        </a>
    </nav>
</div>