.text-primary{
  color: #474a4f;
  font-size: .875rem;
  font-weight: bold;
}

.text-secondary{
  color: #6C717A;
  font-size: .75rem;
  font-weight: bold;
}

.strike {
  text-decoration: line-through;
}

.text-primary--no-fw{
  color: #474a4f;
  font-weight: bold;
}



.mdl-card--user-details{
  display: flex;
  flex-flow: row;
}

.mdl-card--user-details > .mdl-card--user-details__profile{
  flex-basis: 30%;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  overflow: hidden;
}

.mdl-card--user-details__profile > *{
  margin-top: 4px;
  margin-bottom: 4px;
}

.mdl-card--user-details__profile > *:first-child{
  margin-top: 8px;
}

.mdl-card--user-details__profile > *:last-child{
  margin-bottom: 8px;
}

.mdl-card--user-details__profile > .mdl-card--user-details__profile__key{
  color: #474a4f;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}

.mdl-card--user-details__profile > .mdl-card--user-details__profile__text{
  color: #6C717A;
  font-size: 1rem;
  text-align: center;
}

.mdl-card--user-details > .mdl-card--user-details__content{
  flex-basis: 70%;
  display:flex;
  flex-flow: column;
  border-left: 1px solid rgba(0, 0, 0, .26);
}

.mdl-card--user-details__content > .mdl-card--user-details__content__section {
  padding: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
}

.mdl-card--user-details__content > .mdl-card--user-details__content__section.mdl-card--user-details__content__section--actions {
  /* border-bottom: none; */
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.mdl-card--user-details__content__section  > .mdl-card--user-details__content__section__title {
  /* align-self: flex-start; */
  flex-basis: 100%;
  color: #6C717A;
  /* background-color: cyan; */
  margin-bottom: 16px;
  font-size: 1rem;
  
}

.mdl-card--user-details__content__section > fieldset > legend{
  /* background-color: teal;
  color: red; */
  color: #474a4f;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.mdl-card--user-details__content__section > .mdl-textfield > .mdl-textfield__label{
  color: #474a4f ;
  font-size: 0.875rem;
  font-weight: bold;
  /* margin-bottom: 4px;
  padding-bottom: 16px; */
}


.mdl-card--user-details__content__section > .mdl-textfield > .mdl-textfield__input{
  margin-top: 8px;
}

/**********************************************/
/**         PAGINATION        **/
/**********************************************/
.mdl-paging {
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.mdl-paging > * {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

.mdl-list + .mdl-paging {
  margin: 0;
}

.mdl-paging__per-page {
  position: relative;
}

.mdl-paging__per-page-label {
  margin-right: 40px;
}

.mdl-paging__per-page-value {
  position: absolute;
  right: 36px;
  top: 6px;
}

.mdl-paging__per-page + .mdl-paging__count {
  margin-left: 24px;
}

.mdl-paging .mdl-menu {
  min-width: 64px;
}

.mdl-paging__prev:last-child {
  margin-right: 44px;
}

.mdl-paging__count + .mdl-paging__prev {
  margin-left: 24px;
}

.mdl-paging__prev + .mdl-paging__next {
  margin-left: 12px;
}

.mdl-paging__count + .mdl-paging__next {
  margin-left: 68px;
}

/**********************************************/
/**         CUSTOM TABLE        **/
/**********************************************/
table.services-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-left: 1px solid #d4d7dc;
  border-right: 1px solid #d4d7dc;
  border-bottom: 1px solid #d4d7dc;
  table-layout: auto;
}

table.services-table th {
  position: relative;
  text-align: center;
  padding: 8px;
  color: #ffffff;
  font-size: 1rem;
}

table.services-table td {
  position: relative;
  text-align: center;
  padding: 8px;
  color: #474a4f;
  font-size: .875rem;
}

table.services-table th.text-left, table.services-table td.text-left {
  text-align: left;
}

table.services-table th.text-right, table.services-table td.text-right {
  text-align: right;
}


table.services-table tr:nth-child(even){
  /*background-color: #d4d7dc*/
  background-color: rgba(187,191,196, .26);
}

table.services-table.services-table--ABC tr:last-child{
  background-color: transparent;
  box-sizing: border-box;
}

table.services-table.services-table--ABC tr:last-child td{
  /* background-color: transparent */
  border:1px solid #d4d7dc;
  box-sizing: border-box;
  position: relative;
}

table.services-table td input, table.mdl-data-table td input{
  position: relative;
  padding: 8px;
  border: none;
  caret-color: 	#468df7;
  background-color: transparent;
  /* border:1px solid #d4d7dc;
  border-radius: 2px; */
  color: #474a4f;
  font-size: 1rem;
}

table.services-table td input.small, table.mdl-data-table td input.small{
  width: 128px;
}

table.services-table td input::placeholder, table.mdl-data-table td input::placeholder{
  color: #6C717A;
}

table.services-table th input{
  position: relative;
  padding: 8px;
  border: none;
  caret-color: 	#468df7;
  border:1px solid #d4d7dc;
  border-radius: 2px;
  color: #474a4f;
  font-size: 1rem;
}

table.services-table th input.error{
  border:1px solid #b00020;
}

table.services-table th select{
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: url("../svg/baseline-arrow_drop_down-24px.svg") no-repeat;
  background-position: right;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  width: 100%;

  position: relative;
  padding: 8px;
  padding-right: 32px;
  border: none;
  caret-color: 	#468df7;
  border:1px solid #d4d7dc;
  border-radius: 2px;
  color: #474a4f;
  font-size: 1rem;
}

table.services-table th input.small{
  width: 128px;
}

table.services-table th input::placeholder{
  color: #6C717A;
}

.mdl-color-text--carbon-blue{
  color: #468df7;
}

.mdl-color--carbon-green{
  /*background-color: #56e39f !important;*/
  background-color: #00a676 !important;

}

table.test-table {
  display: table;
  /* border: 1px solid black; */
}

table.test-table  thead tr {
	display: table-row;
}

table.test-table  tr {
	display: table-cell;
}

table.test-table  tr th{
  padding: 16px;
  border: 1px solid black;
}
table.test-table  tr td {
  padding: 16px;
  display: block;
  border: 1px solid black;
}

/***********************************************/
/*                  INPUT DEALS                */
/************************************************/
.input-left-label-container{
  display: flex;
  flex-flow: column;
  padding: 8px;
}
.input-left-label {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  /* background: cornflowerblue; */
  /* width: 476px; */
}

.input-left-label label{
  margin: 8px;
  color: #474a4f;
  font-size: .875rem;
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  /* align-self:flex-start; */
  flex-grow: 1;
  /* align-self: stretch; */
  /* background-color: tan; */
}

.input-left-label input, .input-left-label textarea{
  /* align-self: flex-end; */
  margin: 8px;
  padding: 8px;
  width: 300px;
  border: none;
  caret-color: 	#468df7;
  border:1px solid #d4d7dc;
  border-radius: 2px;
  color: #474a4f;
  font-size: 16px;
}

.input-left-label-container fieldset{
  margin: 8px;
  padding: 8px;
}

.input-left-label-container fieldset > legend{
  color: #474a4f;
  font-size: 0.875rem;
  font-weight: bold;
}

.box-input{
  display: inline-block;
  margin: 8px;
  padding: 8px;
  width: 300px;
  border: none;
  caret-color: 	#468df7;
  border:1px solid #d4d7dc;
  border-radius: 2px;
  color: #474a4f;
  font-size: 16px;
}
/**********************************************/
/**         PROGRESS STEPPER       **/
/**********************************************/
.container-progress-step {
  /* width: 600px; */
  /* margin: 100px auto;  */
  /* display: flex;
  flex-flow: row;
  justify-content: space-evenly; */
  
}
.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #6C717A;
}
.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #6C717A;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #6C717A;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #468df7;
}
.progressbar li.active:before {
  border-color: #77abf9
}
.progressbar li.active + li:after {
  background-color: #77abf9;
}

/*  STEP  */
.step-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
}

.step-container .next-step{
  margin-left: 16px ;
}
.custom-step{
  /* width: 100%; */
  max-width: 640px;
  border-radius: 16px;
  border:1px solid #d4d7dc;
  /* padding: 24px; */

  display: flex;
  flex-flow: column;
  /* flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; */
}

.custom-step > fieldset > legend{
  /* background-color: teal;
  color: red; */
  color: #474a4f;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.custom-step > .mdl-textfield > .mdl-textfield__label{
  color: #474a4f ;
  font-size: 0.875rem;
  font-weight: bold;
  /* margin-bottom: 4px;
  padding-bottom: 16px; */
}

@media (min-width: 840px) {
  .custom-step{
    width: 640px;
  }

}

@media (max-width: 479px) {

  .input-left-label {
    flex-flow: column;
  }

}

/************ Fix Select **********/
.mdl-menu__container {
  max-height: 200px;
  overflow-y: scroll !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.12);
}

/**************************************/
.bottom-container{
  position: absolute;
  height: 56px;
  bottom: 0px;
  background-color: teal;
  width: 100%;

}

.button-add-missing {
  border: #77abf9 1px dashed;
  border-radius: 36px;
  color: #77abf9;
  background: transparent;
  /* border: none; */
  position: relative;
  min-height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  /* line-height: 1; */
  letter-spacing: 0;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}


/*************************************/
.selectable-list-item{
  width:100%;
  position: relative;
  overflow:hidden;
  cursor:pointer;
}

/*******************************************/
/**         JAGGED CARD                    */
/*******************************************/
.mdl-card--jagged{

  position: relative;
  overflow: auto;
  padding-bottom: 16px;

  
}

.mdl-card--jagged:after {
  bottom: 0px;
  background-position: left bottom;
  /* @include background(linear-gradient(-45deg, $color-outer $size / 2, transparent 0), linear-gradient(45deg, $color-outer $size / 2, transparent 0));
  @include border-serrated-helper($size, $color-outer); */
  background: linear-gradient(-45deg,#EDEFF2 8px, transparent 0),linear-gradient(45deg, #EDEFF2 8px,transparent 0);

  content: " ";
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 16px;
  background-repeat: repeat-x;
  background-size: 16px 16px;

  -webkit-box-shadow:0px 1px 1px #de1dde;
  -moz-box-shadow:0px 1px 1px #de1dde;
  box-shadow:0px 1px 1px #de1dde;

  
}

/*******************************************/
/**         Custom Select / Input          */
/*******************************************/

input.custom-input{
  margin-top: 8px;
  position: relative;
  padding: 8px;
  border: none;
  caret-color: 	#468df7;
  border:1px solid #d4d7dc;
  border-radius: 2px;
  color: #474a4f;
  font-size: 1rem;
}

input.custom-input.small{
  width: 128px;
}

input.custom-input::placeholder{
  color: #6C717A;
}

select.custom-select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  background: url("../svg/baseline-arrow_drop_down-24px.svg") no-repeat;
  background-position: right;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  width: 100%;

  position: relative;
  padding: 8px;
  padding-right: 32px;
  border: none;
  caret-color: 	#468df7;
  border:1px solid #d4d7dc;
  border-radius: 2px;
  color: #474a4f;
  font-size: 1rem;
}

/****************************************/
/*             Dialog Title             */
/****************************************/
.rw-dialog .mdl-dialog__title{
  display: none;
}

.rw-dialog .mdl-dialog__actions{
  display: none;
}
.rw-dialog__title{
  color: #474a4f;
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
}

/****************************************/
/*             DRAWER RIGHT             */
/****************************************/

.mdl-layout__drawer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 640px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(650px);
  -ms-transform: translateX(650px);
  transform: translateX(650px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}

.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);  
}

.mdl-layout__obfuscator-right {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
  visibility: hidden;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.mdl-layout__drawer-right.active~.mdl-layout__obfuscator-right {
  background-color: rgba(0,0,0,.5);
  visibility: visible;
}

.mdl-layout__drawer-right>.mdl-layout-title {
  line-height: 56px;
  padding-left: 16px;
}

/****************************************/
/*            RESPONSIVE TABLE          */
/****************************************/
.table-responsive {
  min-height: .01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
  .table-responsive > .table {
      margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
      white-space: nowrap;
  }
  .table-responsive > .table-bordered {
      border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
      border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
      border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
      border-bottom: 0;
  }
}

/* .mdl-card--user-details__content__section > fieldset > mdl-textfield{
  margin-top: 0px;
  padding-top: 0px;
} */