<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="{% static 'control_usuarios/css/material.min.css' %}">
  <link rel="stylesheet" href="{% static 'control_usuarios/css/custom2.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'control_usuarios/css/custom.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'control_usuarios/css/stepper.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'control_usuarios/css/material-components-web.min.css' %}"> -->
  <!-- <link rel="stylesheet" href="{% static 'control_usuarios/css/mdc.textfield.min.css' %}"> -->
 
  <script src="{% static 'control_usuarios/js/material.min.js' %}"></script>
  <!-- <script src="{% static 'control_usuarios/js/stepper.js' %}"></script> -->
  <!-- <script src="{% static 'control_usuarios/js/material-components-web.min.js' %}"></script> -->
  <!-- <script src="{% static 'control_usuarios/js/mdc.autoInit.min.js' %}"></script> -->
  <!-- <script src="{% static 'control_usuarios/js/mdc.textfield.min.js' %}"></script> -->
  
  
  <script src="{% static 'control_usuarios/js/vue.min.js' %}"></script>
  <script src="{% static 'control_usuarios/js/vue-mdl.js' %}"></script>
  <script src="{% static 'control_usuarios/js/vue-the-mask.js' %}"></script>
  <script src="{% static 'control_usuarios/js/v-money.js' %}"></script>
  
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
{% block custom_body %}<body>{% endblock custom_body %}
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" id="app">
    <header class="mdl-layout__header custom-color--black-1">
      <div class="mdl-layout__header-row">

        {% block toolbar %}
        <!-- Title -->
        <span class="mdl-layout-title">Control Usuarios</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
        {% endblock toolbar %}
      
      </div>
    </header>
    
    {% block sidebar %}
      {% include "control_usuarios/includes/drawer.html" %}
    {% endblock sidebar %}
    
    <main class="mdl-layout__content">
      {% block content %}
      {% endblock content %}
    </main>

    {% block drawer_right %}
    {% endblock drawer_right %}

    {% block dialog %}
    {% endblock dialog %}
  </div>

  {% block scripts %}
  {% endblock scripts %}

  

</body>
</html>
