{% extends "control_usuarios/base.html" %}
{% load static %}

{% block custom_body %}<body class="mdl-color--white">{% endblock custom_body %}

{% block sidebar %}
  {% include "control_usuarios/includes/drawer.html" with active_menu="clientes" %}
{% endblock sidebar %}

{% block toolbar %}
<!-- Title -->
<span class="mdl-layout-title">Clientes</span>
<!-- Add spacer, to align navigation to the right -->
<div class="mdl-layout-spacer"></div>
<!-- Navigation. We hide it in small screens. -->
<a class="mdl-button mdl-js-button mdl-button--icon" href="{% url 'client_add' %}" style="margin-left: 16px;" >
  <i class="material-icons">person_add</i>
</a>
<form class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
  mdl-textfield--floating-label mdl-textfield--align-right">
  <label class="mdl-button mdl-js-button mdl-button--icon"
          for="fixed-header-drawer-exp">
    <i class="material-icons">search</i>
  </label>
  <div class="mdl-textfield__expandable-holder">
    <input class="mdl-textfield__input" type="search" name="search"
            id="fixed-header-drawer-exp">
  </div>
</form>
{% endblock toolbar %}
{% block content %}
<div class="page-content" style="padding-bottom: 72px;">
  <div class="mdl-grid">
    {% if clientes %}
    <div class="mdl-cell mdl-cell--7-col mdl-cell--12-col-phone mdl-list mdl-list--carbon">
      {% for cliente in clientes %}
      <div class="mdl-list__item mdl-list__item--with-divisor mdl-list__item--two-line selectable-list-item" v-on:click="showClientDetails({{cliente.id}})">
        <span class="mdl-list__item-primary-content mdl-js-ripple-effect">
          <span class="mdl-ripple"></span>
          <img src="{% static 'control_usuarios/img/user_placeholder2.png' %}"  class="mdl-list__item-avatar" alt="">
          <span>{{ cliente.nombre | title }}</span>
          <span class="mdl-list__item-sub-title">{{ cliente.clave }}</span>
        </span>
        <span class="mdl-list__item-secondary-content">
          <button class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="event.stopPropagation();" @click="showDrawerRight('{{ cliente.email }}')">
              <i class="material-icons">mail_outline</i>
          </button>
        </span>
        <span class="mdl-list__item-secondary-content">
          <a class="mdl-list__item-secondary-action mdl-button mdl-js-button mdl-button--icon mdl-button--colored" onclick="event.stopPropagation();" href="tel:{{ cliente.telefono }}">
              <i class="material-icons">phone</i>
          </a>
        </span>
      </div>
      {% endfor %}
    </div>
    {% else %}
    <div class="mdl-cell mdl-cell--7-col">
        <p>No se encontraron resultados.</p>
    </div>
    {% endif %}
  
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-paging">
        {% if clientes.has_previous %}
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-paging__next mdl-button--colored" href="?page=1">
            <i class="material-icons">first_page</i>
          </a>
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-paging__next mdl-button--colored" href="?page={{ clientes.previous_page_number }}">
            <i class="material-icons">chevron_left</i>
          </a>
        {% endif %}
        <span class="mdl-paging__count">Page {{ clientes.number }} of {{ clientes.paginator.num_pages }}.</span>
        {% if clientes.has_next %}
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-paging__next mdl-button--colored" href="?page={{ clientes.next_page_number }}">
            <i class="material-icons">chevron_right</i>
          </a>
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-paging__next mdl-button--colored" href="?page={{ clientes.paginator.num_pages }}">
            <i class="material-icons">last_page</i>
          </a>
        {% endif %}
      </div>
    </div>

    {%if messages %}
      <mdl-snackbar display-on="opMsg"></mdl-snackbar>
    {% endif %}
  
  </div>

  <!-- Colored FAB button -->
  <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-cell--hide-desktop"
    style="position: fixed; right: 16px; bottom: 16px;"
    href="{% url 'client_add' %}"
    >
    <i class="material-icons">person_add</i>
  </a>      
</div>




{% endblock content %}

{% block dialog %}
<mdl-dialog ref="confirmDialog" id="confirmDialog" full-width>
    <h6>Eliminar este cliente?</h6>
    <template slot="actions">
        <form class="mdl-cell mdl-cell--12-col form-inline">
            {% csrf_token %}
            <input type="hidden" name="edit_text_id_cliente" v-model="customerToDelete">
            <button type="button" class="mdl-button mdl-js-button" v-on:click="closeDialogDelete">
                Cancelar
            </button>
            <button class="mdl-button mdl-js-button mdl-button--accent" type="submit" formaction="{% url 'client_delete' %}" formmethod="POST">
                Eliminar
            </button>
        </form>
    </template>
</mdl-dialog>
{% endblock dialog %}

{% block drawer_right %}
<div class="mdl-layout__drawer-right mdl-color--white" :class="{active: showRightDrawer}">
  <span class="mdl-layout-title mdl-color--carbon-500" style="color: white; font-size: 1rem; letter-spacing: .15rem; display: flex;">
    Mensaje Nuevo
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--icon" style="align-self: center; margin-right: 16px;" @click="closeDrawerRight()" >
      <i class="material-icons">close</i>
    </button>
  </span>
  <form action="{% url 'send_email' %}" style="padding: 16px;" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 100%">
      <input class="mdl-textfield__input" type="text" id="edit_text_email_to" name="edit_text_email_to" readonly v-model="emailTo">
      <label class="mdl-textfield__label" for="edit_text_email_to">Para</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 100%">
      <input class="mdl-textfield__input" type="text" id="edit_text_asunto" name="edit_text_asunto">
      <label class="mdl-textfield__label" for="edit_text_asunto">Asunto</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 100%">
      <textarea class="mdl-textfield__input" type="text" rows="5" id="edit_text_body" name="edit_text_body" placeholder=""></textarea>
      <label class="mdl-textfield__label" for="edit_text_body">Cuerpo</label>
    </div>
    
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      <i class="material-icons">send</i> Enviar
    </button>
    <input type="file" id="edit_text_email_files" name="edit_text_email_files" style="display: none" multiple>
    <label for="edit_text_email_files" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
      <i class="material-icons">attach_file</i>
    </label>
  </form>

</div>
{% endblock drawer_right %}

{% block scripts %}
<script>
  Vue.use(VueMdl.default);

  var userServicesApp = new Vue({
      delimiters: ['${','}$'],
      el: "#app",
      data: {
          customerToDelete: 0,
          showRightDrawer: false,
          emailTo: ""
      },
      mounted: function(){
          //this.$refs.confirm.open()

          {% if messages %}
            {% for message in messages %}
              this.$emit('opMsg', { message: '{{ message }}' })
            {% endfor %}
          {% endif %}

      },
      methods:{
          showDrawerRight:function(email){
            this.showRightDrawer = true;
            this.emailTo = email;
          },
          closeDrawerRight:function(){
            this.showRightDrawer = false;
          },
          showDialogDelete: function(idCliente){
              this.customerToDelete = idCliente
              this.$refs.confirmDialog.open()
          },
          closeDialogDelete: function(){
              this.$refs.confirmDialog.close()
          },
          showClientDetails: function(idCliente){
            location.href="{% url 'client' 0 %}".replace(/0/, idCliente.toString());

          }
      }
  })
</script>
{% endblock scripts %}
