{% extends "control_usuarios/base.html" %}
{% load static %}

{% block custom_body %}<body class="mdl-color--aux-3">{% endblock custom_body %}

{% block toolbar %}
<!-- Title -->
<span class="mdl-layout-title">{{ cliente.clave }}</span>
  {% if mode == MODE_VIEW %}
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer mdl-cell--hide-desktop"></div>
  <!-- Navigation. We hide it in small screens. -->
  <a class="mdl-button mdl-js-button mdl-button--icon" href="{% url 'client_edit' cliente.id %}" style="margin-left: 16px;" >
    <i class="material-icons">edit</i>
  </a>
  {% endif %}
{% endblock toolbar %}

{% block content %}
<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col carbon-headline">
        Información del Cliente
    </div>
    <form class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--2dp mdl-card--user-details" method="post">
      {% csrf_token %}
  
      <div class="mdl-card--user-details__profile mdl-cell--hide-phone">
        <img height="72px" width="72px" src="{% static 'control_usuarios/img/user_placeholder.png' %}">
        <div class="mdl-card--user-details__profile__key">${ nombreCliente }$</div>
        {% if cliente.clave %}
        <div class="mdl-card--user-details__profile__text">{{ cliente.clave }}</div>
        {% else %}
        <div class="mdl-card--user-details__profile__text">######</div>
        {% endif %}
        
        <!-- <div class="body-1">{{ cliente.nombre }}</div> -->
        
  
        <div>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" @click="showDrawerRight('{{ cliente.email }}')" type="button">
                <i class="material-icons">mail_outline</i>
            </button>
            <a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" href="tel:{{ cliente.telefono }}">
                <i class="material-icons">phone</i>
            </a>
            <a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" target="_blank" href="https://maps.google.com/?q={{ cliente.direccion | title }}">
                <i class="material-icons">location_on</i>
            </a>
        </div>
      </div>
      <div class="mdl-card--user-details__content">
  
        <div class="mdl-card--user-details__content__section">
          <div class="mdl-card--user-details__content__section__title">Información Personal</div>
  
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            <input class="mdl-textfield__input" type="text" id="edit_text_cliente_nombre" name="edit_text_cliente_nombre" placeholder="" v-model="nombreCliente" required :readonly="!modeEdit"> 
            <label class="mdl-textfield__label" for="edit_text_cliente_nombre">Nombre Completo</label>
          </div>
  
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 128px;">
            <label class="mdl-textfield__label" for="edit_text_cliente_fecha_nacimiento">Fecha de nacimiento</label>
            <the-mask :mask="['##/##/####']"  class="mdl-textfield__input" type="text" id="edit_text_cliente_fecha_nacimiento" name="edit_text_cliente_fecha_nacimiento" placeholder="" value="{{ cliente.fecha_nacimiento }}" required :readonly="!modeEdit"/>
          </div>
  
          <fieldset>
            <legend>Sexo</legend>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio_button_cliente_sexo-1">
                <input type="radio" id="radio_button_cliente_sexo-1" class="mdl-radio__button" name="radio_button_cliente_sexo" value="M" v-model="sexoCliente" checked :disabled="!modeEdit">
                <span class="mdl-radio__label">Masculino</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio_button_cliente_sexo-2">
                <input type="radio" id="radio_button_cliente_sexo-2" class="mdl-radio__button" name="radio_button_cliente_sexo" value="F" v-model="sexoCliente" :disabled="!modeEdit">
                <span class="mdl-radio__label">Femenino</span>
            </label>
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio_button_cliente_sexo-3">
                <input type="radio" id="radio_button_cliente_sexo-3" class="mdl-radio__button" name="radio_button_cliente_sexo" value="O" v-model="sexoCliente" :disabled="!modeEdit">
                <span class="mdl-radio__label">Otro</span>
            </label>
          </fieldset>
  
        </div>
        
        <!-- <hr> -->
  
        <div class="mdl-card--user-details__content__section">
          <div class="mdl-card--user-details__content__section__title">Información de Contacto</div>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            <input class="mdl-textfield__input" type="email" id="edit_text_cliente_email" name="edit_text_cliente_email" value="{{ cliente.email }}" placeholder="" required :readonly="!modeEdit">
            <label class="mdl-textfield__label" for="edit_text_cliente_email">Email</label>
          </div>
  
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 128px;">
            <label class="mdl-textfield__label" for="cliente_telefono">Telefono</label>
            <the-mask :mask="['(###) ###-####']"  class="mdl-textfield__input" type="text" id="cliente_telefono" name="edit_text_cliente_telefono" placeholder="" value="{{ cliente.telefono }}" required :readonly="!modeEdit"/>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            <textarea class="mdl-textfield__input" type="text" rows="2" id="cliente_direccion" name="edit_text_cliente_direccion" placeholder="" required :readonly="!modeEdit">{{ cliente.direccion | title }}</textarea>
            <label class="mdl-textfield__label" for="cliente_direccion">Dirección</label>
          </div>
        </div>
  
        <!-- <hr> -->

        {% if mode != MODE_VIEW %}
        <div class="mdl-card--user-details__content__section mdl-card--user-details__content__section--actions">
          {% if mode == MODE_CREATE %}
          <mdl-button colored class="mdl-button--raised" type="submit" formaction="{% url 'client_save' %}">Guardar Nuevo</mdl-button>
          {% elif mode == MODE_EDIT %}
          <mdl-button colored class="mdl-button--raised" type="submit" formaction="{% url 'client_update' cliente.id %}">Guardar Cambios</mdl-button>
          {% endif %}
        </div>
        {% endif %}
  
        
      
      </div>
  
    </form>

    {% if mode == MODE_VIEW %}
      <div class="mdl-cell mdl-cell--12-col carbon-headline">
          Servicios Contratados
      </div>

      <div class="mdl-cell mdl-cell--6-col" style="display:flex; flex-flow:row; flex-wrap: wrap; justify-content:space-between;">
        {% for contrato in cliente.contratos_set.all %}
          <div class="mdl-card mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-shadow--2dp mdl-card--carbon-list-item">
            <figure class="mdl-card__media" style="display:flex;justify-content:center;align-items:center; background-color:white;">
              <i class="material-icons" style="font-size:36px; color:#468df7;">wifi_tethering</i>
              <!-- <img src="./images/imageplaceholder-1x1-big.png" alt="" /> -->
            </figure>
            <div class="carbon-list-item-body" style="align-self:center;">
              <div class="mdl-card__title">
                {{ contrato.servicio.clave }}
              </div>
              <div class="mdl-card__supporting-text">
                {{ contrato.servicio.nombre }}
              </div>
            </div>
            <div class="mdl-card__menu" style="margin-right:8px;">
              <!-- <div class="text-primary">${{ contrato.servicio.costo }}</div> -->
              <a href="{% url 'client_with_contract' cliente.id contrato.id %}"
                      class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                <i class="material-icons">insert_drive_file</i>
              </a>
            </div>
          </div>
          
        {% endfor %}
        <button class="mdl-button mdl-js-button mdl-button--primary" style="margin-left: 8px; margin-right: auto; align-self:center;" v-on:click="showD()">
          <i class="material-icons" style="vertical-align: middle;">add</i> Agregar Servicio
        </button>
      </div>
    {% endif %}
  
    {% if message %}
      <mdl-snackbar display-on="mailSent"></mdl-snackbar>
    {% endif %}

    {%if messages %}
      <mdl-snackbar display-on="opMsg"></mdl-snackbar>
    {% endif %}

  </div>
</div>
{% endblock content %}

{% block drawer_right %}
<div class="mdl-layout__drawer-right mdl-color--white" :class="{active: showRightDrawer}">
  <span class="mdl-layout-title mdl-color--carbon-500" style="color: white; font-size: 1rem; letter-spacing: .15rem; display: flex;">
    Mensaje Nuevo
    <div class="mdl-layout-spacer"></div>
    <button class="mdl-button mdl-js-button mdl-button--icon" style="align-self: center; margin-right: 16px;" @click="closeDrawerRight()" >
      <i class="material-icons">close</i>
    </button>
  </span>
  <form action="{% url 'send_email' %}" style="padding: 16px;" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 100%">
      <input class="mdl-textfield__input" type="text" id="edit_text_email_to" name="edit_text_email_to" readonly v-model="emailTo">
      <label class="mdl-textfield__label" for="edit_text_email_to">Para</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 100%">
      <input class="mdl-textfield__input" type="text" id="edit_text_asunto" name="edit_text_asunto">
      <label class="mdl-textfield__label" for="edit_text_asunto">Asunto</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 100%">
      <textarea class="mdl-textfield__input" type="text" rows="5" id="edit_text_body" name="edit_text_body" placeholder=""></textarea>
      <label class="mdl-textfield__label" for="edit_text_body">Cuerpo</label>
    </div>
    
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      <i class="material-icons">send</i> Enviar
    </button>
    <input type="file" id="edit_text_email_files" name="edit_text_email_files" style="display: none" multiple>
    <label for="edit_text_email_files" class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
      <i class="material-icons">attach_file</i>
    </label>
  </form>

</div>
{% endblock drawer_right %}

{% block dialog %}
{% if cliente %}
<mdl-dialog ref="multiple" id="multiple" full-width class="rw-dialog">
  <form style="display:flex; flex-flow:column;" method="POST" action="{% url 'client_add_contract' cliente.id %}">
    {% csrf_token %}
    <h6 class="rw-dialog__title">Nuevo Servicio</h6>
    <select v-model="service" class="custom-select">
        <option disabled value="">Porfavor seleciona 1</option>
        <option v-for="service in services" v-bind:value="service.value">
            ${ service.name }$
        </option>
    </select>

    <input type="hidden"  v-model="service" name="edit_text_cliente_contrato_servicio">

    <input class="custom-input" type="text" id="edit_text_cliente_contrato_usuario" name="edit_text_cliente_contrato_usuario" placeholder="Usuario" v-model="serviceUser" :disabled="!hasUsers" :required="hasUsers">

    <input class="custom-input" type="text" id="edit_text_cliente_contrato_pass" name="edit_text_cliente_contrato_pass" placeholder="Contraseña" v-model="servicePassword" :disabled="!hasUsers" :required="hasUsers">

    <input class="custom-input" type="text" id="edit_text_cliente_contrato_direccion" name="edit_text_cliente_contrato_direccion" placeholder="Dirección Servicio" v-model="serviceAddress">
    <div style="margin-top:8px; display:flex; flex-direction:row-reverse;">
      <button class="mdl-button mdl-js-button mdl-button--primary" >
        Agregar Servicio
      </button>
      <button class="mdl-button mdl-js-button mdl-button--primary" type="button" v-on:click="closeDialog()">
        Cancelar
      </button>
    </div>  
  </form>
</mdl-dialog>
{% endif %}
{% endblock dialog %}

{% block scripts %}
<script>
  Vue.use(VueMdl.default);
  Vue.use(VueTheMask);

  var userDetailsApp = new Vue({
    delimiters: ['${','}$'],
    el: "#app",
    data: {
      showRightDrawer: false,
      modeEdit: JSON.parse('{% if mode == MODE_VIEW %} false {% else %} true {% endif %}'),
      service: '',
      services: JSON.parse('{{json_servicios|safe}}'),
      hasUsers: false,
      serviceAddress: "{{ cliente.direccion }}",
      serviceUser: "",
      servicePassword: "",
      nombreCliente: "{{ cliente.nombre | title }}",
      sexoCliente: "{{ cliente.sexo }}",
      emailTo: ""
    },
    watch: {
      service: function(val){
          this.hasUsers = false;
          for(var i=0; i < this.services.length;i++){
              if(this.services[i].value == val){
                  this.hasUsers = this.services[i].hasUsers;
                  componentHandler.upgradeAllRegistered();
                  break;
              }
          }
      }

    },
    mounted: function(){
      
      componentHandler.upgradeAllRegistered();

      {% if message %}
        this.$emit('mailSent', { message: '{{ message }}' })
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          this.$emit('opMsg', { message: '{{ message }}' })
        {% endfor %}
      {% endif %}

    },
    methods:{
      showDrawerRight:function(email){
        this.showRightDrawer = true;
        this.emailTo = email;
      },
      closeDrawerRight:function(){
        this.showRightDrawer = false;
      },
      showD: function(){
        this.$refs.multiple.open()
      },
      closeDialog: function(){
        this.$refs.multiple.close();
      }
    }
  })
</script>
{% endblock scripts %}
