{% extends "control_usuarios/base.html" %}
{% load static %}

{% block custom_body %}<body class="mdl-color--aux-3">{% endblock custom_body %}

{% block toolbar %}
<!-- Title -->
<a  href="{% url 'client' contrato.cliente.id %}" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons mdl-color-text--white">arrow_back</i>
</a>
<span class="mdl-layout-title" style="margin-left: 8px;">Orden #{{ contrato.id }} </span>
{% endblock toolbar %}

{% block content %}
<div class="page-content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-card mdl-card--carbon">
                <div class="mdl-card__title" style="font-size:1.125rem; margin-top:24px; margin-bottom:16px;">
                    Detalles de la Orden
                </div>
                <div class="mdl-card__supporting-text">
                    <p>Fecha Orden: <span class="mdl-color-text--carbon-500">{{ contrato.fecha_contrato | date:"Y-m-d"  }}</span></p>
                    <p>Dirección Instalación:</p>
                    <p><span class="mdl-color-text--carbon-500">{{ contrato.direccion_servicio }}</span></p>
                </div>

                {% if  contrato.usuario_set.all %}
                    <div class="mdl-card__title" style="font-size:1.125rem; margin-top:24px; margin-bottom:16px;">
                        Claves de Acceso
                    </div>
                    <div class="mdl-card__supporting-text">
                    {% for usuario in contrato.usuario_set.all %}
                        <p>Usuario: <span class="mdl-color-text--carbon-500">{{ usuario.usuario }}</span> </p>
                        <p>Contraseña: <span class="mdl-color-text--carbon-500">{{ usuario.clave}} </span></p>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            
        </div>
        

    
    </div>
</div>
{% endblock content %}