{% extends "control_usuarios/base.html" %}
{% load static %}

{% block toolbar %}
    <!-- Title -->
    <span class="mdl-layout-title">Contratación</span>
{% endblock toolbar %}

{% block sidebar %}
  {% include "control_usuarios/includes/drawer.html" with active_menu="contratos" %}
{% endblock sidebar %}

{% block content %}
<div class="page-content">
    <form class="mdl-grid" action="{% url 'contract_save' %}" method="post">
        {% csrf_token %}
        
        <div class="mdl-cell mdl-cell--12-col">
            <h5 class="text-primary--no-fw" style="padding-left:16px;">Información del Cliente</h5>
        </div>
        <div class="mdl-cell mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop input-left-label-container">
            <div class="carbon-headline">
                Información Personal
            </div>
            <div class="input-left-label">
                <label for="edit_text_cliente_nombre">Nombre Completo:</label>
                <input type="text" required name="edit_text_cliente_nombre" id="edit_text_cliente_nombre">
            </div>
            <div class="input-left-label">
                <label for="edit_text_cliente_fecha_nacimiento">Fecha Nacimiento:</label>
                <!-- <input type="text" required name="edit_text_cliente_fecha_nacimiento" id="edit_text_cliente_fecha_nacimiento"> -->
                <the-mask :mask="['##/##/####']"  type="text" id="edit_text_cliente_fecha_nacimiento" name="edit_text_cliente_fecha_nacimiento" placeholder="" required/>
            </div>
            <fieldset>
                <legend>Sexo</legend>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio_button_cliente_sexo-1">
                    <input type="radio" id="radio_button_cliente_sexo-1" class="mdl-radio__button" name="radio_button_cliente_sexo" value="M" checked>
                    <span class="mdl-radio__label">Masculino</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio_button_cliente_sexo-2">
                    <input type="radio" id="radio_button_cliente_sexo-2" class="mdl-radio__button" name="radio_button_cliente_sexo" value="F">
                    <span class="mdl-radio__label">Femenino</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="radio_button_cliente_sexo-3">
                    <input type="radio" id="radio_button_cliente_sexo-3" class="mdl-radio__button" name="radio_button_cliente_sexo" value="O">
                    <span class="mdl-radio__label">Otro</span>
                </label>
            </fieldset>
        </div>
        <div class="mdl-cell mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop input-left-label-container">
            <div class="carbon-headline">
                Información Oficial
            </div>
            <div class="input-left-label">
                <label for="edit_text_cliente_email">Email:</label>
                <input type="text" required name="edit_text_cliente_email" id="edit_text_cliente_email">
            </div>
            <div class="input-left-label">
                <label for="edit_text_cliente_telefono">Telefono:</label>
                <!-- <input type="text" required name="edit_text_cliente_telefono" id="edit_text_cliente_telefono"> -->
                <the-mask :mask="['(###) ###-####']" type="text" id="edit_text_cliente_telefono" name="edit_text_cliente_telefono" placeholder="" required />
            </div>
            <div class="input-left-label">
                <label for="edit_text_cliente_direccion">Dirección:</label>
                <textarea id="edit_text_cliente_direccion" cols="30" rows="10" required name="edit_text_cliente_direccion"></textarea>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col"></div>
        <div class="mdl-cell mdl-cell--12-col carbon-headline">
            Servicios Desados
        </div>
        <div class="mdl-cell mdl-cell--8-col" style="overflow-x:auto;">
            <table class="table services-table">
                <thead>
                    <tr>
                        <th>
                            <select v-model="service">
                                <option disabled value="">Porfavor seleciona 1</option>
                                <option v-for="service in services" v-bind:value="service.value">
                                    ${ service.name }$
                                </option>
                            </select>
                        </th>
                        <th>
                            <input type="text" placeholder="Usuario" v-model="serviceUser" :disabled="!hasUsers">
                        </th>
                        <th>
                            <input type="text" placeholder="Contraseña" v-model="servicePassword" :disabled="!hasUsers">
                        </th>
                        <th>
                            <input type="text" placeholder="Dirección Servicio" v-model="serviceAddress">
                        </th>
                        <th></th>
                        <th>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" :disabled="!canAddService" type="button" @click="addServiceToWishList">
                                <i class="material-icons">add</i>
                            </button>
                        </th>
                    </tr>
                    <tr class="mdl-color--primary mdl-color-text--white">
                        <th scope="col">Servicio</th>
                        <th scope="col" class="text-left">Usuario</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Dirección</th>
                        <th>Costo</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="servicesWishList.length == 0">
                        <td class="mdl-color-text--grey">
                            (Servicio)
                        </td>
                        <td class="mdl-color-text--grey">
                            (Usuario)
                        </td>
                        <td class="mdl-color-text--grey">
                            (Contraseña)
                        </td>
                        <td class="mdl-color-text--grey">
                            (Direccion)
                        </td>
                        <td class="mdl-color-text--grey">
                            (Costo)
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr v-else v-for="(service_item,index) in servicesWishList" :key="service_item.id">
                        <td>
                            ${ service_item.name }$
                            <input type="hidden"  v-model="service_item.value" name="edit_text_cliente_contrato_servicio[]">
                        </td>
                        <td>
                            <input type="text" placeholder="Usuario" v-model="service_item.user" name="edit_text_cliente_contrato_usuario[]" :disabled="!service_item.hasUsers" :required="service_item.hasUsers">
                        </td>
                        <td>
                            <input type="text" placeholder="Contraseña" v-model="service_item.pass" name="edit_text_cliente_contrato_pass[]" :disabled="!service_item.hasUsers" :required="service_item.hasUsers">
                        </td>
                        <td>
                            <input type="text" placeholder="Dirección Servicio" v-model="service_item.serviceAddress" name="edit_text_cliente_contrato_direccion[]" required>
                        </td>
                        <td class="mdl-color-text--accent bold text-right">
                            $${ service_item.costo }$
                        </td>
                        <td>
                            <button class="mdl-button mdl-js-button mdl-button--icon" type="button" @click="servicesWishList.splice(index, 1)">
                                <i class="material-icons">clear</i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Save Button -->
        <div class="mdl-cell mdl-cell--8-col" style="display: flex;">
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Create Contract
            </button>
        </div>
    
    </form>
</div>
{% endblock content %}

{% block scripts %}
<script>

    Vue.use(VueMdl.default);
    Vue.use(VueTheMask);
    var dealsApp = new Vue({
        delimiters: ['${','}$'],
        el: "#app",
        data: {
            service: '',
            services: JSON.parse('{{json_servicios|safe}}'),
            servicesWishList: [],
            autoIncrementServices: 0,
            hasUsers: false,
            serviceAddress: "",
            serviceUser: "",
            servicePassword: ""
        },
        mounted: function(){
            componentHandler.upgradeAllRegistered();

            
            document.querySelectorAll("input[data-required]").forEach(function (e) {
                e.required = true;
            });
            
            
        },
        watch: {
            service: function(val){
                console.log("iteraciones")
                this.hasUsers = false;
                for(var i=0; i < this.services.length;i++){
                    console.log(i + "iteraciones")
                    if(this.services[i].value == val){
                        this.hasUsers = this.services[i].hasUsers;
                        componentHandler.upgradeAllRegistered();
                        break;
                    }
                }
            }

        },
        computed: {
            
            
            canAddService: function(){
                return this.service != ''
            }

        },
        methods:{
            addServiceToWishList: function(){

                var currentService = {};
                
                for(var i=0; i < this.services.length;i++){
                    if(this.services[i].value == this.service){
                        currentService = this.services[i];
                        break;
                    }
                }

                this.servicesWishList.push({
                    id: this.autoIncrementServices,
                    value: currentService.value,
                    clave: currentService.clave,
                    name: currentService.name,
                    hasUsers: currentService.hasUsers,
                    costo: currentService.costo,
                    service: this.service,
                    user: this.serviceUser,
                    pass: this.servicePassword,
                    serviceAddress: this.serviceAddress
                })

                this.autoIncrementServices++;

                this.serviceAddress = "";
                this.servicePassword = "";
                this.serviceUser = "";
            }
        }
    })
    
</script>
{% endblock scripts %}
