{% extends "control_usuarios/base.html" %}
{% load static %}
<!-- {% load cc_extras %} -->

{% block custom_body %}<body class="mdl-color--aux-3">{% endblock custom_body %}

{% block sidebar %}
  {% include "control_usuarios/includes/drawer.html" with active_menu="facturas" %}
{% endblock sidebar %}

{% block toolbar %}
  <!-- Title -->
  <span class="mdl-layout-title">Control Usuarios</span>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="{% url 'contract_add' %}"><i class="material-icons">person_add</i>  Nuevo Cliente</a>
  </nav>
{% endblock toolbar %}

{% block content %}
<div class="page-content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--7-col" style="display:flex; align-items:flex-start;">
        <p class="carbon-headline">
            Facturas Pendientes
        </p>
        <div class="mdl-layout-spacer"></div>
        <form ref="formDate" action="" style="display:flex; align-items: flex-end;">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder">
            <label class="mdl-textfield__label" for="edit_text_cliente">Cliente</label>
            <input class="mdl-textfield__input" type="text" id="edit_text_cliente" name="cliente" value="{{ cliente_string }}">
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" style="position: absolute; right: 0px;">
              <i class="material-icons">search</i>
            </button>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 156px; margin-left:16px;">
            <label class="mdl-textfield__label" for="edit_text_fecha_desde">Desde</label>
            <input  class="mdl-textfield__input" type="date" id="edit_text_fecha_desde" name="facturas_desde" placeholder="" value="{{ fechaDesde }}" max="{{ fechaLimite }}" required @change="submitDate" />
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label has-placeholder" style="width: 156px; margin-left:16px;">
            <label class="mdl-textfield__label" for="edit_text_fecha_hasta">Hasta</label>
            <input  class="mdl-textfield__input" type="date" id="edit_text_fecha_hasta" name="facturas_hasta" placeholder="" value="{{ fechaHasta }}" max="{{ fechaLimite }}"  @change="submitDate" />
          </div>
        </form>
    </div>
    <div class="mdl-cell mdl-cell--12-col"></div>
    {% if bills %}
      <table class="mdl-cell mdl-cell--7-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th style="text-align:start;">Clave Cliente</th>
            <th style="text-align:start;">Clave Servicio</th>
            <th style="text-align:start;">Fecha Factura</th>
            <th style="text-align:start;">Fecha Vencimiento</th>
            <th style="text-align:start;">Cantidad</th>
            <th style="text-align:start;">Estado</th>
            <th style="text-align:center;"></th>
          </tr>
        </thead>
        <tbody>
          {% for bill in bills %}
          <tr>
            <td class="mdl-color-text--carbon-500" style="text-align:start;" >
              <a href="{% url 'client' bill.contrato.cliente.id %}" class="mdl-color-text--carbon-500 bold">{{ bill.contrato.cliente.clave }}</a>
            </td>
            <td class="mdl-color-text--carbon-500" style="text-align:start;">{{ bill.contrato.servicio.clave }}</td>
            <td class="mdl-color-text--carbon-500" style="text-align:start;">
              {{ bill.fecha_vencimiento | date:"Y-m-d"  }}
            </td>
            <td class="mdl-color-text--carbon-500" style="text-align:start;">
              {{ bill.fecha_vencimiento | date:"Y-m-d"  }}
            </td>
            <td class="mdl-color-text--carbon-500 bold {% if bill.pagado %} strike {% endif %}" style="text-align:end;">${{ bill.contrato.servicio.costo }}</td>
            <td style="text-align:start;">
                {% if bill.pagado == False  %}
                  <span class="mdl-color-text--primary">Pendiente</span>
                {% else %}
                  <span class="mdl-color-text--green">Pagado</span>
                {% endif %}
            </td>
            <td style="text-align:center;">
              {% if bill.pagado == False  %}
              <button 
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" 
                v-on:click="cobrarFactura({{bill.id}},'{{ bill.contrato.cliente.clave }}','{{ bill.contrato.servicio.clave }}',{{ bill.contrato.servicio.costo }})">
                Cobrar
              </button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div class="mdl-cell mdl-cell--7-col" style="display:flex; justify-content:center; flex-flow:column; align-items:center;">
        <img src="{% static 'control_usuarios/img/undraw_no_data_qbuo2.png' %}" alt="" width="240px">
        <p class="text-secondary">No hay facturas</p>
      </div>
    {% endif %}
    

    <div class="mdl-cell mdl-cell--4-col">
      <form class="mdl-card mdl-card--carbon mdl-card--jagged" v-show="showCobrar" action="{% url 'pay_bill' %}" method="POST">
          {% csrf_token %}
          <!-- <figure class="mdl-card__media">
            <img src="./images/imageplaceholder-1x1-big.png" alt="" />
          </figure> -->
          <div class="mdl-card__title" style="padding-top: 16px;">
            Cobrar Factura
          </div>
          <div class="mdl-card__supporting-text" style="margin-top:16px;">
            <input type="hidden" name="edit_text_factura" v-model="idFactura">
            <p>
              <span class="mdl-color-text--primary">Clave Cliente:</span> <span class="mdl-color-text--carbon-500">${ claveCliente }$</span>
            </p>
            <p>
              <span class="mdl-color-text--primary">Clave Servicio:</span> <span class="mdl-color-text--carbon-500">${ claveServicio }$</span>
            </p>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="sample1">A Pagar</label>
              <money v-model="precio" v-bind="money" class="mdl-textfield__input"id="sample1" style="text-align: right;" readonly></money>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <label class="mdl-textfield__label" for="sample2">Recibido</label>
              <money v-model="recibido" v-bind="money" class="mdl-textfield__input"id="sample2" style="text-align: right;"></money>
            </div>

            <div style="display:flex;">
              <span>Cambio:</span>
              <div class="mdl-layout-spacer"></div>

              <span class="mdl-color-text--carbon-500">
                  $ ${ cambio }$
              </span>

            </div>

            
            <!-- Lorem ipsum dolor sit amet, consectetur. adipiscing elit. Nunc sed tellus orci. -->
          </div>
          <div class="mdl-card__actions" style="margin-top:32px;">
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button" type="button" v-on:click="cancelarCobro()">
              Cancelar
            </button>
            <button class="mdl-button mdl-js-button mdl-button--accent" :disabled="canPay">
              REGISTRAR PAGO
            </button>
          </div>
        </form>
    </div>

    
    
  </div>
</div>

{% endblock content %}

{% block drawer_right %}
<div class="mdl-layout__drawer-right" :class="{active: showRightDrawer}">
  <span class="mdl-layout-title mdl-color--primary mdl-color-text--white">
    Mensaje Nuevo
  </span>
</div>
{% endblock drawer_right %}

{% block scripts %}
<script>
  Vue.use(VueMdl.default);

  var userServicesApp = new Vue({
      delimiters: ['${','}$'],
      el: "#app",
      data: {
        fechaDesde: "",
        fechaHasta: "",
        showCobrar: false,
        showRightDrawer: false,
        precio: 12.44,
        recibido: 0,
        claveCliente: "",
        claveServicio: "",
        idFactura: 0,
        money: {
          decimal: '.',
          thousands: ',',
          prefix: '$ ',
          suffix: '',
          precision: 2,
          masked: false
        }
      },
      mounted: function(){

      },
      computed: {
        cambio: function(){
          return -(this.precio - this.recibido);
        },
        canPay: function(){
          return (this.recibido < this.precio);
        }
      },
      methods:{
          showDialogDelete: function(idCliente){
              this.customerToDelete = idCliente
              this.$refs.confirmDialog.open()
          },
          showDrawerRight:function(){
            this.showRightDrawer = true;
          },
          submitDate: function(){
            /*alert("date change");*/
            this.$refs.formDate.submit();
          },
          cobrarFactura: function(id,clavec,claves,precio){
            this.showCobrar = true;
            this.idFactura = id;
            this.claveCliente = clavec;
            this.claveServicio = claves;
            this.precio = precio;
          },
          cancelarCobro: function(){
            this.showCobrar = false;
          }
      }
  })
</script>
{% endblock scripts %}

