<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="{% static 'control_usuarios/css/material.min.css' %}">
  <link rel="stylesheet" href="{% static 'control_usuarios/css/custom2.css' %}">
  <script src="{% static 'control_usuarios/js/material.min.js' %}"></script>
  
  
  <script src="{% static 'control_usuarios/js/vue.min.js' %}"></script>
  <script src="{% static 'control_usuarios/js/vue-mdl.js' %}"></script>
  <script src="{% static 'control_usuarios/js/vue-the-mask.js' %}"></script>
  <script src="{% static 'control_usuarios/js/v-money.js' %}"></script>
  
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="mdl-color--aux-3">
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="app">
    <header class="mdl-layout__header custom-color--black-1">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Control Usuarios</span>
      </div>
    </header>
    <main class="mdl-layout__content" style="display:flex; flex-flow:column; justify-content:center; align-items:center;">
        <form class="mdl-card mdl-shadow--6dp" method="POST" action="{% url 'try_login' %}">{% csrf_token %}
            <div class="mdl-card__title">
                Login
            </div>
            <div class="mdl-card__supporting-text">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" id="edit_text_usuario" name="edit_text_usuario">
                    <label class="mdl-textfield__label" for="edit_text_usuario">Usuario</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="password" id="edit_text_contrasena" name="edit_text_contrasena">
                    <label class="mdl-textfield__label" for="edit_text_contrasena">Contraseña</label>
                </div>
            </div>
            <div class="mdl-card__actions" style="display:flex;">
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-button--accent">
                    Iniciar Sesión
                </button>
            </div>
        </form>

        {% if messages %}
            {% for message in messages %}
                <div class="mdl-card mdl-color--red" style="margin-top:8px; min-height:72px;">
                    <div class="mdl-card__supporting-text mdl-color-text--white">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>
  </div>



  

</body>
</html>
