{% extends "control_usuarios/base.html" %}
{% load static %}

{% block toolbar %}
<!-- Title -->
<span class="mdl-layout-title">Servicios</span>
{% endblock toolbar %}

{% block sidebar %}
  {% include "control_usuarios/includes/drawer.html" with active_menu="servicios" %}
{% endblock sidebar %}


{% block content %}
<div class="mdl-grid">
  {% comment %} {% if servicios %} {% endcomment %}
    <div class="mdl-cell mdl-cell--12-col carbon-headline">
    Mis Servicios
    </div>
    <div class="mdl-cell mdl-cell--8-col" style="overflow-x:auto;">
        <form action="{% url 'service_save' %}" method="post">
            {% csrf_token %}
            <table class="table services-table services-table--ABC">
                <thead class="mdl-color--primary mdl-color-text--white">
                    <tr>
                        <th scope="col" style="max-width: 72px;">Clave</th>
                        <th scope="col" class="text-left">Servicio</th>
                        <th scope="col" style="max-width: 72px;">Costo</th>
                        <th scope="col" style="max-width: 72px;">Tiene Usuario</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for servicio in servicios %}
                    <tr>
                        <td scope="row"><a href="{% url 'service_edit' servicio.id %}" class="mdl-color-text--carbon-500 bold">{{ servicio.clave }} </a></td>
                        <td class="text-left">{{ servicio.nombre }}</td>
                        <td>${{ servicio.costo }}</td>
                        <td>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                                <input type="checkbox" class="mdl-checkbox__input" disabled {% if servicio.tiene_usuarios %} checked="checked" {% endif %}>
                            </label>
                        </td>
                        <td><a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-color-text--primary" href="{% url 'service_edit' servicio.id %}"><i class="material-icons">edit</i></a></td>
                        <td><a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-color-text--primary" v-on:click="showDialogDelete({{ servicio.id }})"><i class="material-icons">delete</i></a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <input type="text" class="small" placeholder="Clave" required id="edit_text_clave_servicio" name="edit_text_clave_servicio">
                        </td>
                        <td>
                            <input type="text" placeholder="Descripción" required id="edit_text_descripcion_servicio" name="edit_text_descripcion_servicio">
                        </td>
                        <td>
                            <!-- <input type="number" class="small" placeholder="Costo" required id="edit_text_costo_servicio" name="edit_text_costo_servicio" value="99"> -->
                            <money v-model="serviceCosto" v-bind="money" required id="edit_text_costo_servicio"></money>
                            <input type="hidden" v-model="serviceCosto" name="edit_text_costo_servicio">
                        </td>
                        <td>
                            <input type="checkbox" class="small" placeholder="Usuarios" id="edit_text_numero_usuarios_servicio" name="edit_text_numero_usuarios_servicio" value="1">
                        </td>
                        <td>
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons mdl-color-text--carbon-blue">add</i>
                            </button>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>

        <p class="mdl-color-text--primary mdl-cell--hide-phone">
            *Usa <span class="text-primary">Tab</span> para navegar y <span class="text-primary">Enter</span> cuando estés listo.
        </p>
    </div>
  {% comment %} {% else %}
  <div class="mdl-cell mdl-cell--7-col">
      <p>No se encontraron resultados.</p>
  </div>
  {% endif %} {% endcomment %}

</div>
{% endblock content %}

{% block dialog %}
<mdl-dialog ref="confirmDialog" id="confirmDialog" full-width>
    <h6>Eliminar este servicio?</h6>
    <template slot="actions">
        <form class="mdl-cell mdl-cell--12-col form-inline">
            {% csrf_token %}
            <input type="hidden" name="edit_text_id_servicio" v-model="serviceToDelete">
            <button type="button" class="mdl-button mdl-js-button" v-on:click="closeDialogDelete">
                Cancelar
            </button>
            <button class="mdl-button mdl-js-button mdl-button--accent" type="submit" formaction="{% url 'service_delete' %}" formmethod="POST">
                Eliminar
            </button>
        </form>
    </template>
</mdl-dialog>
{% endblock dialog %}

{% block scripts %}
<!-- CODE -->
<script>
    Vue.use(VueMdl.default);

    var userServicesApp = new Vue({
        delimiters: ['${','}$'],
        el: "#app",
        data: {
            serviceToDelete: 0,
            serviceCosto: 0,
            money: {
                decimal: '.',
                thousands: ',',
                prefix: '$ ',
                suffix: '',
                precision: 2,
                masked: false
              }
        },
        mounted: function(){
            //this.$refs.confirm.open()

        },
        methods:{
            showDialogDelete: function(idService){
                this.serviceToDelete = idService
                this.$refs.confirmDialog.open()
            },
            closeDialogDelete: function(){
                this.$refs.confirmDialog.close()
            },
        }
    })
</script>
{% endblock scripts %}