{% extends "control_usuarios/base.html" %}
{% load static %}

{% block toolbar %}
<!-- Title -->
<span class="mdl-layout-title">Servicio {{ servicio.clave }}</span>
{% endblock toolbar %}

{% block content %}
<div class="page-content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <form action="{% url 'service_update' servicio.id %}" method="post">{% csrf_token %}
                <div style="display:flex;flex-flow:column; align-items:center; width:332px;">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" required id="edit_text_clave_servicio" name="edit_text_clave_servicio" value="{{ servicio.clave }}">
                        <label class="mdl-textfield__label" for="edit_text_clave_servicio">Clave</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" required id="edit_text_descripcion_servicio" name="edit_text_descripcion_servicio" value="{{ servicio.nombre }}">
                        <label class="mdl-textfield__label" for="edit_text_descripcion_servicio">Descripción</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" for="edit_text_costo_servicio">Costo</label>
                        <money class="mdl-textfield__input" v-model="serviceCosto" v-bind="money" required id="edit_text_costo_servicio"></money>
                    </div>

                    <input type="hidden" v-model="serviceCosto" name="edit_text_costo_servicio">

                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="edit_text_numero_usuarios_servicio" style="width:300px">
                        <input type="checkbox" class="mdl-checkbox__input" id="edit_text_numero_usuarios_servicio" name="edit_text_numero_usuarios_servicio" value="1" {% if servicio.tiene_usuarios %} checked="checked" {% endif %}>
                        <span class="mdl-checkbox__label">Tiene Usuarios</span>
                    </label>
    
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--primary" style="align-self:flex-end; margin-right:16px;">
                        Guardar Cambios
                    </button>

                </div>
                
            </form>
        </div>

        {%if messages %}
        <mdl-snackbar display-on="opMsg"></mdl-snackbar>
        {% endif %}
    </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- CODE -->
<script>
    Vue.use(VueMdl.default);

    var userServicesApp = new Vue({
        delimiters: ['${','}$'],
        el: "#app",
        data: {
            serviceToDelete: 0,
            serviceCosto: parseFloat("{{ servicio.costo }}"),
            money: {
                decimal: '.',
                thousands: ',',
                prefix: '$ ',
                suffix: '',
                precision: 2,
                masked: false
              }
        },
        mounted: function(){
            componentHandler.upgradeAllRegistered();

            {% if messages %}
                {% for message in messages %}
                    this.$emit('opMsg', { message: '{{ message }}' })
                {% endfor %}
            {% endif %}
        },
        methods:{
        }
    })
</script>
{% endblock scripts %}