{% extends "control_usuarios/base.html" %}
{% load static %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="mdi-content-send right"></i>
    </button>
</form>
{% endblock content %}